/***** BASE STYLES *****/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffb3b3;
    color: #4f2a21;
}

img {
    width: 800px;
}

#span-one {
    background-color: #4f2a21;
    color: #ff66ff;
    border-radius: 7%;
}

#span-two {
    background-color: #311f1f;
    color: #ff80ff;
    border-radius: 7%;
}

#link-back {   
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #744e45;
    color: #cc00ff;
}

#down-link {
    text-decoration: none;
}