/***** BASE STYLES *****/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #cdb8b1;
    color: #3f2d2b;
}

img {
    width: 450px;
    margin-left: 10px;
}

div {
    width: 600px;
    float: left;
}

#second_div {
    padding-top: 100px;
    background-color: #ff66d9;
    margin: 10px;
}

h1 {
    font-size: 32px;
    font-family: 'Merriweather', serif;
}

h2 {
    font-size: 48px;
    color: #603733;
    font-family: 'Charm', cursive;

}

#explanation {
    font-size: 12px;
    color: #562e2c;
}

#well {
    color: #975944;
}

/* extra color links */

#sp_link_1:link {
    color: #8d574b;
}

#sp_link_1:visited {
    color: #140500;
}

#sp_link_1:hover {
    color: #9d604d;
}

#sp_link_1:active {
    color: #5a3f38;
}


#sp_link_2:link {
    color: #9a858a;
}

#sp_link_2:visited {
    color: #5c362b;
}

#sp_link_2:hover {
    color: #810969;
}

#sp_link_2:active {
    color: #b28379;
}

#back {
    text-decoration: none;
    color: #800060;
}

#back:hover {
    color: #ff00bf;
}